{% extends "base.html" %}

{% block header %}
    {{ macros.pwd(["pkgs/"]) }}
{% endblock %}

{% block content %}

<p>::: instructions for building packages</p>

<p>
there's no particular rationale behind what packages do and don't get covered
here. if you'd like to suggest a package or contribute your own directions,
contact me, submit a pr, etc.
</p>

<p>
note that all the package build instructions will pollute your build directory
and may confuse your package manager as they install to /usr.
</p>

<ul>
    <li><a href="catgirl">catgirl</a></li>
    <li><a href="entr">entr</a></li>
    <li><a href="hwdata">hwdata</a></li>
    <li><a href="iana-etc">iana-etc</a></li>
    <li><a href="less">less</a></li>
    <li><a href="libretls">libretls</a></li>
    <li><a href="libtree">libtree</a></li>
    <li><a href="rg">rg</a></li>
    <li><a href="socat">socat</a></li>
    <li><a href="tinyxxd">tinyxxd</a></li>
    <li><a href="xxhash">xxhash</a></li>
</ul>

{% endblock %}
