tox.wtf {
    root * /srv/www/tox.wtf/target/site

    # Fallbacks
    try_files {path} {path}.html {path}/index.html

    file_server

    handle_errors {
        rewrite * /e/{http.error.status_code}.html
        file_server
    }
}

vat.tox.wtf {
    root * ./target/subdomains/vat

    # Fallbacks
    try_files {path} {path}.html {path}/index.html

    file_server
}

man.tox.wtf {
    root * ./target/subdomains/man

    # Fallbacks
    try_files {path} {path}.html {path}/index.html

    file_server
}

lfs.tox.wtf {
    root * ./target/subdomains/lfs

    # Fallbacks
    try_files {path} {path}.html {path}/index.html

    file_server
}
