tox.wtf {
        root * /srv/www/tox.wtf/target

        # Fallbacks
        try_files {path} {path}.html {path}/index.html

        file_server

        handle_errors {
            rewrite * /{http.error.status_code}.html
            file_server
        }
}
