{% extends "base.html" %}

{% block header %}
    {{ macros.pwd(["imgs", "renders", "0000-descent"]) }}
{% endblock %}

{% block content %}
<p>::: 0000-descent</p>

<p>
my first svg render. this was a recreation of
<a href="https://antireal.info/image/165813454037">one of antireal's renders</a>
to familiarize myself with inkscape.
</p>

<a href="/s/imgs/renders/0000-descent.svg" target="_blank">
<img src="/s/imgs/renders/0000-descent.svg" alt="0000-descent" width=512 height=768>
</a>

<p>
this took around 4 hours from first opening inkscape, to playing around with
assets, to assembling the final image. i'm pretty happy with how it turned out.
</p>

{% endblock %}
