{% extends "base.html" %}

{% block header %}
    {{ macros.pwd(["imgs", "pfp"]) }}
{% endblock %}

{% block content %}
<p>::: my profile picture</p>

<p>
there's a fair amount of story behind this. the image is from an anime
called ergo proxy. i haven't watched it. i first saw this image in a slowed
version of sewerslvt's hopelessness. great track.
</p>

<p>
that song continued to hang out in my head, and i really loved the aesthetic of
the image. so uh, it's been my profile picture for a bit. i've since upscaled it
to appease those pesky online services that set minimum resolution requirements.
</p>

<p>
the only lyrics in the song are sampled from girls' last tour, another anime
i've not watched. they translate to
</p>

<blockquote>
it's hopeless... it's so peaceful.
</blockquote>

<p>
which quite eloquently sums up my perspective on the world. kinda finding peace
in the hopelessness. not as in giving up, nor really acceptance, but rather
unshackling, vivid clarity.
</p>

<p>
that was actually less story than i thought.
</p>

<img src="/s/imgs/pfp.jpg" alt="ergo proxy pfp">

{% endblock %}
