/* TODO: Woff2 these fonts */
@font-face {
    font-family: spleen;
    src: url('/s/fonts/spleen.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: tamzen;
    src: url('/s/fonts/tamzen.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: tamzen;
    background-color: #24272f;
    text-align: left;
    color: #f6e5dd;
    margin: 2rem;
}

header {
    font-family: tamzen;
    text-align: right;
    background-color: #24272f;
    color: #f6e5dd;
}

footer {
    font-family: tamzen;
    text-align: left;
    background: #24272f;
    color: #f2a978;
}


blockquote {
    font-family: tamzen;
    text-align: left;
    background-color: #24272f;
    color: #f2a978;
}


/* links */
a {
    font-family: tamzen;
    color: #f2a978;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


/* lists */
ul {
    list-style: none;
    padding: 0;
}

li::before {
    content: "- ";
    color: #f6e5dd;
    margin-right: 0.5em;
}


/* code blocks */
pre {
    background: #24272f;
    color: #97adc2;

    border: 1px solid #f2a978;

    overflow-x: auto;
    padding-left: 1em;
}

code {
    font-family: tamzen;
    font-size: 0.9em;
}
