{% extends "base.html" %}
{% block content %}

<h2>
    <a href=/>/</a>
</h2>

<h3>::: Welcome to tox.wtf :)</h3>

<p>This my silly little personal site. Check out one of these subdirectories:</p>

<ul>
    <li><a href=code/>code/</a> ::: scripts and things</li>
    <li><a href=imgs/>imgs/</a> ::: images</li>
    <li><a href=logs/>logs/</a> ::: log entries</li>
    <li><a href=pkgs/>pkgs/</a> ::: reference package build instructions</li>
    <li><a href=read/>read/</a> ::: radical reading corner</li>
    <li><a href=self/>self/</a> ::: self</li>
</ul>

{% endblock %}
